<html lang="en" color-mode="light">
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}">
</head>
<body onload="getColorMode()">
<nav class="navbar navbar-expand-md fixed-top navbar-light" id="nav-bar-stuff" onload="navColor()">
            <a class="navbar-brand" href="{% url 'index' %}"><i class="fas fa-x-ray"></i> XamineRIS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar light--hidden colorbutton" href="javascript:changeLightDark(false)" onclick="javascript:navColor(false)">
                <img src="https://svgsilh.com/svg/159508.svg" style="width: 30px; height: 30px;">
            </a>
            <a class="navbar dark--hidden colorbutton" href="javascript:changeLightDark(true)" onclick="javascript:navColor(true)">
                <img src="https://svgsilh.com/svg/30466.svg" style="width: 30px; height: 30px;">
            </a>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">Link1</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">Link2</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">Link3</a>#}
{#                    </li>#}
                    {% if request.user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
                <span class="navbar-text">Logged in as {{ user.get_username }}</span>
            </div>
        </nav>
        </body>
        </html>

<script>
    function changeLightDark(mode) {
        if(mode) {
            document.documentElement.setAttribute("color-mode", "dark");
            localStorage.setItem("color-mode", "dark");
        } else if(!mode) {
            document.documentElement.setAttribute("color-mode", "light");
            localStorage.setItem("color-mode", "light");
        }
    }
    function navColor(mode) {
        if(mode) {
            document.getElementById("nav-bar-stuff").className = "navbar navbar-expand-md fixed-top navbar-dark";
        }
        else if(!mode) {
            document.getElementById("nav-bar-stuff").className = "navbar navbar-expand-md fixed-top navbar-light";
        }
    }
</script>
